<div id="<%= dom_id book %>" class="space-y-3">
  <p class="flex items-start">
    <strong class="text-gray-700 font-semibold min-w-20 mr-3">Title:</strong>
    <span class="text-gray-900"><%= book.title %></span>
  </p>

  <p class="flex items-start">
    <strong class="text-gray-700 font-semibold min-w-20 mr-3">Author:</strong>
    <span class="text-gray-900"><%= book.author %></span>
  </p>
</div>